<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 Beehexa All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Beehexa\HexaSync\Api\Data\HexaSyncIntegrationDataInterface" type="Beehexa\HexaSync\Model\Data\HexaSyncIntegrationData"/>
    <preference for="Beehexa\HexaSync\Api\HexaSyncIntegrationInterface" type="Beehexa\HexaSync\Model\HexaSyncIntegrationManagement"/>
    <preference for="Beehexa\HexaSync\Api\Data\HexaSyncInfoDataInterface" type="Beehexa\HexaSync\Model\Data\HexaSyncInfoData"/>
    <preference for="Beehexa\HexaSync\Encryption\EncryptorInterface" type="Beehexa\HexaSync\Encryption\Encryptor"/>
    <preference for="Beehexa\HexaSync\Api\StoreInformationInterface"
                type="Beehexa\HexaSync\Model\StoreInformation"/>
    <preference for="Beehexa\HexaSync\Api\Data\StoreInformationDataInterface"
                type="\Beehexa\HexaSync\Model\Data\StoreInformationData"/>
</config>
